.gameScoreArea{
  text-align: center;
}

.gameScore{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.player{
  background-color: rgb(210, 210, 210);
}

.pointDetail{
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding: 10px;
}

.pointButton{
  width: 40%;
}

.missButton{
  width: 40%;
}

.playerName{
  /* margin-top:10px ; */
  border: solid black;
  background-color: white;
}

.navigateArea{
  background-color: black;
  color: white;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  /* display: flex;
  justify-content: center; */
}

.serveButton{
  margin-top: 5px;
  width: 150px;
}

.backToServeResult{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.backToServeResultButton{
  background-color: rgb(75, 78, 135);
  color: white;
}

.displayDetailSingles{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.displayDetailPoint{
  display: flex;
}